.pc {
    display: block;
}
.nonpc {
    display: none;
}
html {
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#ws_id {
    text-align: center;
}
#map {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#info_text {
    width: 250px;
    float: left;
}
#info_img {
    width: 150px;
    float: left;
    vertical-align: middle;
}